# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
**/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

node_modules

.tmp/

*.app

.DS_Store

*.session
*.neu

/wine*

/external

*.log
*.dxvk-cache

.vscode

server_secret.ts