html {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-position: center;
  background-size: cover;
}

.game-logo {
  display: block;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
}

.version-icon {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 10vw;
  bottom: calc(23vh - 2px);
  background-size: contain;
}

.launch-button button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 8px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 0px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow:
    inset 1px 1px 0 #e6e6e6,
    inset 0 -1px 0 #eeeeee;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 1px 1px 1px #c0c0c0;
}
::-webkit-scrollbar-thumb:active {
  box-shadow: inset 1px 1px 3px #a6a6a6;
}
